
.arrowDown {
    margin: 30px;
    position: absolute;
    left: 48%;
    bottom: 5%;
    cursor: pointer;
  }
  .arrowDown span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #54a7f0;
    border-right: 5px solid #3d7db6;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrowDown 2s infinite;
  }
  .arrowDown span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .arrowDown span:nth-child(3) {
    animation-delay: -0.4s;
  }
  @keyframes arrowDown {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
  